*{
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    padding: 48px 0 128px 0;
    background: #94B49F;
}

#sketch-pad{
    margin: 0 auto;
    padding: 24px 0;
    background-color: antiquewhite;
}

#sketch-pad .flex-container{

    margin: 0 auto;
    width: 960px;
    height: 960px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

footer{
    background-color: #DF7861;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-element{
    margin: 0;
    padding: 0;
    background: blue;
    width: 60px;
    height: 60px;
}

.grid-element:hover{
    background-color: gray;
}